@import url(fontstyle.css);

body {    
    width: 100vw;
    height: auto;
    background: #fffff8;
    color:#444;
    padding: 1px;
    display: flex;
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

.container {
    width: 90%;
}

.box {
    width: 100%;
    border: 1px solid #444;
}

/* header */
.header {    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: #0b504f;
    color: white;
    height: 80px;
    font-size: 1rem;
}

.header >* {
    margin: 10px;
}

.header>div:nth-child(1) {    
    margin-right: auto;
}


/* sidebar */
.sidebar {
    font-family: 'Noto Serif';
    font-size: 1rem;
}

.sidebar >* {
    margin: 20px 2px 20px 2px;
}

.innerbox {
    width: 90%;
    height: auto;
    margin: auto auto 20px auto;
}

.imgbox {
    width: auto;
    height: auto;    
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
}

.overview {
    width: 90%;
    height: auto;
    font-family: 'Noto Serif';
    background-color: rgb(253, 204, 212);
    padding: 10px;
    margin-left: 10px;
}

/* footer */
.footer {
    height: 160px;
    background: #c7cc28;
}

@media(max-width: 620px) {
    .title-img {
        width: 90%;
        height: auto;
    }
}

@media(min-width: 620px) {
    .title-img {
        width: 80%;
        height: auto;
    }
}

@media(min-width: 800px) {
    .title-img {
        width: 60%;
        height: auto;
    }    
}

@media(min-width: 920px) {
    .title-img {
        width: 50%;
        height: auto;
    }    
}
