@import url(fontstyle.css);

body {    
    width: 100vw;
    height: auto;
    background: #fffff8;
    color:#444;
    padding: 1px;
    display: flex;
    font-family: 'Roboto';
}

.container {
    width: 90%;
}

.box {
    width: 100%;
}

.divider {
    height: auto;
    margin-right: auto;
}

/* header */
.header {    
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    background: #0b504f;
    color: white;
    font-size: 1rem;
}

.header >* {
    margin: 10px;
}

.header>div:nth-child(1) {    
    margin-right: auto;
 }

/* sidebar */
.sidebar {    
    font-family: 'Noto Serif';
}

.sidebar >* {
    margin: 2px;
}

/* contents */
.outline {
    border: 1px solid #444;
}

.art {
    margin: 5px;
    border: 1px solid #c2c2c2;
}

/* footer */
.auther {
    font-size: 16px;
}

.footer {
    height: 160px;
    background: #c7cc28;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.sns-list {
    list-style: none;
}

@media(max-width: 620px) {
    .art {
        width: 80vw;
        height: 300px;
    }
}

@media(min-width: 620px) {    
    .art {
        width: 70vw;
        height: 300px;
    }
}

@media(min-width: 800px) {    
    .art {
        width: 40vw;
        height: 300px;
    }
}

@media(max-width: 960px) {
    body {
        font-size: 10px;
    }

    .header {
        height: 80px;
    }

    .sidebar {
        height: auto;
    }
       
    .contents {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
}

@media(min-width: 960px) {
    body {
        font-size: 10px;
    }

    .container {    
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: 80px 1fr 160px;
        grid-template-areas:
        "hd hd hd hd hd"
        "sd main main main main"
        "ft ft ft ft ft";
        justify-content: center;
    }

    .header {
        grid-area: hd;       
    }
    
    .first {
        grid-area: sd;
    }

    .second {
        grid-area: main;
    }

    .contents {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .art {
        width: 300px;
        height: 300px;
    }

    .footer {
        grid-area: ft;
    }
}

/* Portfolio */
#smoothieup {
    background-image: url(../img/smoothieup.png);
    background-size: cover;
    background-position: 50%;
}

#moneyflow {
    background-image: url(../img/moneyflow.png);
    background-size: cover;
    background-position: 50%;
}

#coffeeroad {
    background-image: url(../img/coffeeroad.png);
    background-size: cover;
    background-position: 50%;
}

#mobilepayment {
    background-image: url(../img/mobilepayment.png);
    background-size: cover;
    background-position: 50%;
}